.coluna {
  display: flex;
  gap: 25px;
  padding: 30px;
  align-items: flex-start;
}

@media (max-width: 760px) {
  .coluna {
    flex-direction: column;
    width: 100%;
    align-items: center;    
  }
}

.coluna img {
  height: 700px;
  width: 100%;
  width: 550px;
  object-fit: cover;
}

.form {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
}

.form h1 {
  color: #2b003b;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
