.fundo__map {
  background-color: #f2f2f2;
  padding: 10px;
  color: #380048;
}

.espacamento {
  padding-left: 50px;
}

.colunas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 50px;
}

.mais {
  margin: auto;
}

.fundo__form {
  background-color: #380048;
  padding: 10px;
}

.sub-titulo-form {
  color: #9600ff;
  padding: 40px 0px 0 70px;
}

.titulo-form {
  color: #9600ff;
  padding: 10px 100px 0 70px;
}
